@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');
body {
    margin: 17px 16px 24px 18px;
    height : 493px;
    width : 442px;
    font-family: Prompt;

}

.main {
    display: flex;
    flex-direction: column;
    background-color:  rgba(255, 255, 255, 0);
    width : 442px;
    height : 493px;
    padding: 0 2px;
}

p {
    margin: 0;
}

.engi {
    width: 80px;
    height: 86px;
    padding: 0 0 1px;
    margin-right: 10px;
    object-fit: contain;
  }

.header1 {
    display: flex;
    flex-direction: row;
    width: 442px;
    height: 86px;
}

.sub-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 335.4px;
}

.sub-header-2 {
  font-family: Prompt;
  margin: 0;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  text-align: left;
  color: #ff5a5a; /* grape fruit */
}

.sub-header-3 {
    font-family: Prompt;
    margin: 5px 77px 24px 0;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b; /*warm gray*/
}


.sub-header-4 {
    /* width: 217.2px;
    height: 16px; */
    margin: 24px 61.8px 9px 0;
    font-family: Prompt;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
}

.Page-1 {
    width: 24px;
    height: 21px;
    object-fit: contain;
    margin: 0 32px 0 0;
  }

.Path-4-Copy {
    width: 402px;
    height: 3px;
    margin: 20px 4px 3px 0;
    border: solid 1px #d8d8d8;
  }

.content2, .sub-content-1, .content3{
    display: flex;
    flex-direction: row;  
}

.content1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sub-content-1 {
    justify-content: space-between;
    margin-bottom: 10px;
}


.round {
    margin: 14px 23px 0 0;
    font-family: Prompt;
    font-size: 20px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.01;
    letter-spacing: normal;
    text-align: left;
    color: #5f5f5f;
}

  .circle-border {
    border: 1px solid;
    text-align: center;
    border-radius:50%;
    width: 29px;
    height: 29px;
    margin: 8px 8px 0 0;
    background-color: #2ecc71;
    font-size: 18.4px;
    font-weight: 500;
    color: #ffffff;
    font-family: Prompt;

}


.content1 {
    margin: 9px 4px 31px 0;
    font-family: Prompt;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #ff5a5a;
}

.sub-right {
    display: flex;
    flex-direction: row;
    padding: 7px 8px 7px 20px;
    border-radius: 17.5px;
    border: solid 1px #ff5a5a;
}

.change-score {
    margin-right: 10px;
}

.Group-3-Copy-4 {
    width: 18px;
    height: 18px;
    margin: 0 0 0.2px;
    object-fit: contain;
  }

  .Page-1-Copy-2 {
    width: 27px;
    height: 35px;
    margin: 35px 202px 24px 27px;
    padding: 0px 0px 0.1px 0px;
    object-fit: contain;
  }

.box {
    display: flex;
    flex-direction: column;
    margin: 0 27px 0 0;
}

.score {
    display: flex;
    flex-direction: column;
    font-family: Prompt;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: right;
    color: #4a4a4a;
}

strong {
    font-family: Prompt;
    font-size: 42px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
}
.content2 {
    display: flex;
    justify-content: space-between;
    margin: 0 27px 0 0;
}

.score-content2  {
    font-family: Prompt;
    font-size: 11.2px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #5f5f5f;
  }

  .score-content2-2  {
    font-family: Prompt;
    font-size: 11.2px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #5f5f5f;
  }

    .score-content2  .text-style-1, .score-content2-2  .text-style-1 {
    font-size: 19.6px;
  }


  .Path-4-Copy-3 {
    width: 402px;
    height: 3px;
    margin: 20px 27px 17px 0;
    border: solid 1px #d8d8d8;
  }

  .Path-4-Copy-5 {
    width: 402px;
    height: 3px;
    margin: 21px 27px 0 0;
    border: solid 1px #d8d8d8;
  }

  .content5 {
      display: flex;
      flex-direction: row;
      margin: 20px 27px 17px 0;
      justify-content: space-between;
  }

  .interest {
    font-family: Prompt;
    font-style: italic;
    font-size: 12px;
    font-weight: 300;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #9b9b9b;
  }

  .Group-2 {
    width: 18px;
    height: 23px;
    object-fit: contain;
  }
  
  .text-content4 {
    font-family: Prompt;
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #48b6a3;
  }

  .Triangle {
    width: 9px;
    height: 14px;
    margin: 18.5px 18.5px 21.5px 2.5px;
    background-color: #48b6a3;
  }

  .Fill-103 {
    width: 10px;
    height: 10px;
    margin: 142px 7px 6px 0;
    background-color: var(--warm-grey);
  }